# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Database & Instance files
instance/
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Environment variables
.env

# OS / Editor
.DS_Store
.vscode/
.idea/
